body {
  background-color: chocolate;
  text-align: center;
  color: white;
  margin: center;
}
button {
  margin-right: 1100px;
  margin-top: 40px;
  width: 35px;
  background-color: rgb(255, 249, 249);
}
button a {
  margin-right: 100px;
}
